@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<table class="table table-hover " id="files">
    <thead class="text-left">
        <tr>
            <th style="width:35%">File Name</th>
            <th>Uploaded At</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in (List<DoctorDocument>)ViewBag.DDs)
        {
            <tr>
                <td>
                    <span>
                        &nbsp;
                        &nbsp;
                        <i class="fas fa-file-alt fa-1x"></i>
                    </span>
                    @item.ImgUrl.Substring(item.ImgUrl.IndexOf("_"))
                </td>
                <td>
                    @if (item.CreatedAt == null)
                    {
                        @string.Format("{0:dd-MM-yyyy h:mm tt}", DateTime.Now)}
                    @string.Format("{0:dd-MM-yyyy h:mm tt}", item.CreatedAt)
                </td>
                <td class="text-right pr-3">
                    <a href="~/DoctorDocuments/@item.ImgUrl" target="_blank" class=" px-3">
                        <i class="fas fa-arrow-circle-down fa-2x text-success"></i>
                    </a>
                    <a asp-action="DeleteDoctorDocument" asp-route-ImgUrl="@item.ImgUrl" asp-route-id="@ViewBag.DID" data-ajax="true" data-ajax-update="#files" data-ajax-mode="replace-with" class=" px-3">
                        <i class="fas fa-trash-alt fa-2x text-danger"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>